body {
  font-family: sans-serif;
  margin: 0;
  font-size: 12px;
}

a {
  color: #6b4fbb;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.fork-me{
  position: absolute;
  top:0;
  left: 0;
}
.fork-me img{
  width: 75%;
}

header{
  background: #548;
  color: white;
  text-align: center;
  padding: 1em;
}

.sidebar {
  height: 100%;
  position: fixed;
  right: 0;
  width: 33%;
  overflow-y: auto;
  overflow-x: initial;
}

.sidebar p {
  padding-left: 1em;
}
.sidebar ul {
  padding-left: 1em;
}
.sidebar ul li {
  padding-top: 0.25em;
  transition: height 0.5s ease;
  padding-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar ul li:hover {
  background-color: #fafafa;
  text-decoration: underline;
}
.sidebar ul li strong{
  float: right;
  font-size: 0.8em;
  line-height: 12px;
}

.content {
  width: 67%;
}
.content .item{
  overflow: hidden;
  padding-left: 1em;
}
.content .author{
  font-style: italic;
  font-size: 1.2em;
}
.content pre {
  white-space: pre-line;
}
